@mixin tema ($bg, $color, $border){
	background-color: $bg;
	color: $color;
	border: $border;
	@extend %nav;
}

.tema-light{
	@include tema(#fff, #000, 1px solid #000);
	@extend %tema-light;
}

.tema-medium{
	@include tema(#c4c4c4, #fff, 2px solid #000);
	@extend %tema-medium;
}

.tema-dark{
	@include tema(#000, #fff, 3px solid red);
	@extend %tema-dark;
}

